.header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #df6592;
    z-index: 1000;
}

.header #logo {
    width: 180px;
    margin-left: 30px; 
}

.header #sections {
    display: flex;
    gap: 20px;
    margin-left: 400px; 
    font-size: larger;
    font-family: 'Faculty Glyphic';
    color: white;
}

.header #sections p {
    cursor: pointer;
    transition: transform 0.2s ease, font-size 0.2s ease;
}

.header #sections p:hover {
    transform: scale(1.1);
    font-size: 1.2em;
    color: #ffe6f0; 
}

/* ------------- ABOUT ME CSS SECTION -------------------*/
.aboutMe {
    background-color: #3a8c3a; 
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;   
    margin-top: 100px;
}

.aboutMe-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    max-width: 1200px;
    width: 100%;
}

.photo-area {
    position: relative;
    flex: 1 1 300px;
    max-width: 400px;
    min-height: 100%; 
    display: flex;             
    flex-direction: column;
    gap: 40px;
}

.photo-area .background-img {
    width: 80%;
    display: block;
    border-radius: 12px;
    margin-top: 0;
}

.photo-area .me-photo {
    position: absolute;
    bottom: 0;               
    left: 30%;
    transform: translateX(-50%);
    width: 70%;
    height: auto;
    object-fit: cover;
    z-index: 2;
}


.text-box {
    flex: 2 1 500px;
    background-color: #df6592; 
    padding: 30px;
    box-shadow: 6px 6px 0px #fff; 
    margin-top: 20px;       
}

.text-box + .text-box {
    margin-top: 40px;           
}

.text-box p {
    font-family: 'Faculty Glyphic', sans-serif;
    font-size: 1.1em;
    color: #333;
}