.header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #df6592;
    z-index: 1000;
}

.header #logo {
    width: 180px;
    margin-left: 30px; 
}

.header #sections {
    display: flex;
    gap: 20px;
    margin-left: 400px; 
    font-size: larger;
    font-family: 'Faculty Glyphic';
    color: white;
}

.header #sections p {
    cursor: pointer;
    transition: transform 0.2s ease, font-size 0.2s ease;
}

.header #sections p:hover {
    transform: scale(1.1);
    font-size: 1.2em;
    color: #ffe6f0; 
}